/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
 
}

html, body {
  height:100%;
}

body {
  border-style: solid;
   background-color: rgb(249, 120, 51); /* For browsers that do not support gradients */
  background-image: radial-gradient(rgb(255, 0, 43), rgb(220, 114, 78));
  margin-top:15px;
  font-family: sans-serif;
  font-size: 14px;
  color: #FCE4CD; 
  min-height: 100vh;
}
a{
  text-decoration:none
}
/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 112x;
  font-weight: bold;
  margin-top: 30% 30%;
  color: #FCE4CD;
  font-family: Sans-Serif;
  
}

p {
  font-size: 32x;
  font-weight: bold;
  color: #FCE4CD;
  font-family: Sans-Serif;
}

header{
  display:flex
}

 .footerlink {
  font-size:16px;
  text-align: right;
}

/* NAVBAR */

nav {
  height: 0px;
  padding-bottom: 35px;
  width:220px;
  margin-left:70%;
}

.mainitems {
  padding:0;
  color: #F7BE33;
  font-size:20px;
  font-family:Sans-Serif;
  cursor:default;
  text-align:right;
  margin-left:10px;
}

.drop_items {
  display:none;
  padding-left: 0;
  padding-bottom:2px;
  text-align: right;
}

li > a {
  text-decoration:none;
  color: #c3c3c3;
  font-size:20px;
  font-family: Sans-Serif;
}

ul:hover {
  color:#dedcdc;
  text-decoration:none;
}

ul:hover ul, li, li > a {
  display: block;
  list-style-type:none;
  text-decoration:none;
  font-size:18px;
  color: #FED854;
  line-height: 1.5;
}

li > a:hover {
  color: #C1B6FF;
  transition: all 0.17s ease-in;
}


/* TITLE */
.title{
  border-style: solid;
  font-size:120px;
  line-height:1;
  width:55%;
  margin-left:70px;
  margin-top:200px; /*how low the title is*/
  /* background: yellow;  turn on to see where text margins are*/
  text-align:left;
}

.title_description{
  margin-left:70px;
  color: #F7BE33;
}

/* FOOTER */

#container{
  min-height:95%; /* makes sure the footer is pushed bellow works*/
}

#main{
  overflow:auto;
  padding-bottom:100px; /* makes sure the footer height works*/
}
#footer{
  border-style: solid;
  position: relative;
  height: auto;
  margin-top:auto;
  clear: both;
}

#footerlink{
  font-size: 14px;
  color:orange;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.second_title{
  font-family:sans-serif;
  font-size: 65px;
}
.descrip_text{
  font-family: sans-serif;
  font-size: 32px;
  
}

#right_text_box{
  position:relative;
  color: red;
  left:40%;
  border-style: solid;  
  text-align:right;
  width:40%;
  bottom:300px;
}

#left_text_box {
  bottom:300px;
  position:relative;
  left:30px;
  border-style: solid; 
  text-align:left;
  width:40%;
  }

#box{
    position:relative; 
    background-image:url("img/crocin.png");
    background-size: contain;
    border-style: solid;
    left: 100px;
    top: -100px;
}
img {
  width: 1000px;
  border-style: solid;
  height: auto;
  position:relative;
  left: 100px;
  bottom: 200px;
}