/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

html, body {
  height:100%;
}

body {
  margin-top:15px;
  background-color: rgb(249, 120, 51); /* For browsers that do not support gradients */
  background-image: radial-gradient(rgb(255, 0, 43), rgb(220, 114, 78));
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(252, 228, 205); 
  min-height: 100vh;
  border-style: solid;
}
a{
  text-decoration:none
}
/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 112x;
  font-weight: bold;
  margin-top: 30% 30%;
  color: rgb(252, 228, 205);
  font-family: Sans-Serif;
  
}

p {
  font-size: 32x;
  font-weight: bold;
  color: rgb(252, 228, 205);
  font-family: Sans-Serif;
}

header{
  display:flex
}

 .footerlink {
  font-size:16px;
  text-align: right;
}

/* NAVBAR */

nav {
  height: 0px;
  padding-bottom: 35px;
  width:220px;
  margin-left:70%;
}

.mainitems {
  padding:0;
  color: rgb(230, 217, 24);
  font-size:20px;
  font-family:Sans-Serif;
  cursor:default;
  text-align:right;
  margin-left:10px
}

.drop_items {
  display:none;
  padding-left: 0;
  padding-bottom:2px;
  text-align: right;
}

li > a {
  text-decoration:none;
  color: #c3c3c3;
  font-size:20px;
  font-family: Sans-Serif;
}

ul:hover {
  color:#dedcdc;
  text-decoration:none;
}

ul:hover ul, li, li > a {
  display: block;
  list-style-type:none;
  text-decoration:none;
  font-size:18px;
  color:blue;
  line-height: 1.5;
}

li > a:hover {
  color:red;
}


/* TITLE */
.title{
  font-size:120px;
  line-height:1;
  width:55%;
  margin-left:70px;
  margin-top:200px; /*how low the title is*/
  /* background: yellow;  turn on to see where text margins are*/
  text-align:left;
}

.title_description{
  margin-left:70px
}

/* FOOTER */

#container{
  min-height:95%; /* makes sure the footer is pushed bellow works*/
}





#main{
  overflow:auto;
  padding-bottom:100px; /* makes sure the footer height works*/
}
#footer{
  border-style: solid;
  position: relative;
  height: auto;
  margin-top:auto;
  clear: both;
}
/* old footer settings + change #main padding bottom to 200px, 
i.e hieght of the footer if something doesnt wokrout
#footer{
  background-color: black;
  position: relative;
  height: 200px;
  margin-top: -200px;
  clear: both;
}
*/

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* formnating for text below title */
.second_title{
  font-family:sans-serif;
  font-size: 65px;

}
.descrip_text{
  font-family: sans-serif;
  font-size: 32px;
  
}

.right_text_box{
  position:relative;
  top:-200x;
  left:40%;
  border-style: solid; 
  text-align:right;
  width:40%; 
}

.left_text_box {
  position:relative;
  left:30px;
  border-style: solid;  
  text-align:left;
  width:40%;
  }


  .box{
    position:relative;
    background-image:url("crocin.png");
    border-style: solid;
    width: 1000px;
    height: auto;
    position:relative;
    left: 100px;
    top: -100px;
  }

  img {
    width: 1000px;
    height: auto;
    position:relative;
    left: 100px;
    top: -100px;
  
  }