/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 25px;
  background-color: rgb(249, 120, 51); /* For browsers that do not support gradients */
  background-image: radial-gradient(rgb(255, 0, 43), rgb(220, 114, 78));
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5px;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-size: 112x;
  font-weight: bold;
  margin-top: 5px;
  color: blue;
  font-family: Poppins;
  
}

/* Applies to all elements with <... class="someclass"> specified. */
.someclass { color: red; }

/* Applies to the element with <... id="someid"> specified. */
#someid { color: green; }

.dropdown-item {
  color: green;
  font-size: 30px;
}

a {
  font-family: sans-serif;
  color: yellow;
  font-size: 26px;
  text-decoration: none;
  margin-top: auto;
  margin-left:10px;
  margin-right: 10px;
  transition: color 1s;
  transition: margin 0.2s;
  line-height: 26pt; 
  margin-bottom: 10px;
}

a:hover {
  color: whitesmoke;
  margin: 0 0 0 60px;
}

.floating-menu {
  background-color: lightblue;
  padding: 5px;;
  width: px;
  z-index: 100;
  position: fixed;
  text-align: right;
}
.floating-menu a, 
.floating-menu h3 {
  display: block;
  margin: 0 0.5em;
}

.footerlink {
  font-size=
}

nav ul { list-style-type: none; }
